.header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    margin: 77px 67px 0 67px;
    min-width: 900px;
    align-items: center;
    width: 100%;
    max-width: 1786px;
}

.logoMenu {
    display: flex;
    flex-direction: row;
    gap: 67px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 67px;
    text-align: center;
    align-items: center;
    font-family: "Pretendard", Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.logo img {
    width: 79px;
}

.userSearchNotice {
    display: flex;
    gap: 83px;
}

.userControl {
    display: flex;
    gap: 61px;
    align-items: center;
    font-family: "Pretendard", Helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.searchImage, .noticeImage {
    width: 19px;
}

.searchNotice {
    display: flex;
    gap: 37px;
    align-items: center;
}

.lowerArrow {
    width: 12px;
}

.closetMenu {
    display: flex;
    gap: 9px;
    align-items: center;
}

.HeaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}