.container {
    display: grid;
    grid-template-rows: auto minmax(800px, 1fr);
    height: 100vh;
    background-color: #ffffff;
    place-items: center;
}

.content {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
    /* 제목, 입력, 버튼 */
    gap: 40px;
    width: 665px;
    margin-top: -87px;
}

/* 폼 (로그인 박스) */
.signUpBox {
    display: grid;
    gap: 10px;
    /* 각 영역 사이 간격 */
    width: 100%;
    background: white;
}

/* 제목 */
.title {
    text-align: left;
    color: #333;
    font-weight: 600;
    font-family: "Pretendard", Helvetica;
    font-size: 40px;
    width: 100%;
    padding-left: 10px;
}

/* 입력 그룹 */
.inputGroup {
    display: grid;
    grid-template-rows: auto auto;
    gap: 4px;
    /* 레이블과 필드 간 간격 */
    align-items: center;
    padding: 10px;
}

/* 레이블 */
.label {
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    height: 24px;
    font-family: "Pretendard", Helvetica;
    color: #666666;
}

/* 입력 필드 */
.input {
    font-size: 1rem;
    border: 1px solid #66666659;
    font-family: "Pretendard", Helvetica;
    border-radius: 4px;
    height: 56px;
    border-radius: 12px;
    padding: 10px
}

/* 버튼 영역 */
.buttonSection {
    text-align: center;
    margin-top: 50px;
}

.button {
    width: 100%;
    padding: 10px;
    color: white;
    font-family: "Pretendard", Helvetica;
    font-size: 24px;
    font-weight: 500;
    border-radius: 35.5px;
    height: 71px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #111111;
}

.button:hover {
    background-color: #333333;
}

.signUpNotice {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.notiBox {
    margin-top: 20px;
}

.noticeHighlight {
    text-decoration: underline;
}