:root {
    --vh: 1vh;
}

@supports (-webkit-touch-callout: none) {
    :root {
        --vh: calc(env(safe-area-inset-top) + 1vh);
    }
}

html,
body {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    /* 동적 높이 적용 */
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}