.closetAddClothes {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  min-width: 900px;
  position: relative;
  margin-top: 75px;
}

.frame2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 159px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frameWrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 577px;
}

.divWrapper {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-color: #111111;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
}

.p {
  color: #111111;
  font-family: "Pretendard", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: -4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 70px;
  justify-content: center;
  position: relative;
}

.img {
  height: 510px;
  position: relative;
  width: 340px;
}

.frame5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 76px;
  justify-content: center;
  position: relative;
}

.frame6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.textWrapper2 {
  color: #111111;
  font-family: "Pretendard", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 10px;
  margin-top: -1px;
  position: relative;
  width: 300px;
}

.frame7 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #66666659;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 10px 10px 0px;
  position: relative;
  width: 300px;
}

.textWrapper3 {
  color: black;
  font-family: "Pretendard", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 10px;
  margin-top: -1px;
  position: relative;
  width: 289px;
  border: none;
}

.frame8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 43px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 29px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 54px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.textWrapper4 {
  color: #111111;
  font-family: "Pretendard", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame11 {
  align-items: center;
  border-bottom: 1px solid #66666659;
  display: flex;
  gap: 16px;
  justify-content: left;
  padding: 10px 0;
  position: relative;
  width: 175px;
}

.textWrapper5 {
  background: transparent;
  /* 배경 투명 */
  border: none;
  color: black;
  font-family: "Pretendard", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: -0.5px;
  margin-top: -1px;
  outline: none;
  text-align: left;
  width: 100%;
}

.keyboardArrowDown2 {
  height: 7.4px;
  margin-right: -0.5px;
  position: relative;
  width: 12px;
}

/* 드롭다운 옵션 스타일 */
.textWrapper5 option {
  color: #111111;
  background-color: #ffffff;
  font-family: "Pretendard-Light", Helvetica;
  font-size: 15px;
}

.frame12 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 72px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame13 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #66666659;
  display: flex;
  gap: 10px;
  padding: 10px 10px 10px 0px;
  position: relative;
  width: 175px;
}

.textWrapper6 {
  color: black;
  font-family: "Pretendard", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 10px;
  margin-top: -1px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  border: none;
}

.textWrapper7 {
  color: #111111;
  font-family: "Pretendard", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 10px;
  position: relative;
  text-align: center;
  width: 52px;
}

.frame321Wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 49px;
  justify-content: flex-end;
  padding: 11px 237px;
  position: relative;
  width: 100%;
}

.frame321 {
  display: flex !important;
  margin-bottom: -5.5px !important;
  margin-top: -5.5px !important;
  width: 68px !important;
}

.frameInstance {
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
}

.frame {
  align-items: center;
  background-color: #444444;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #00000040;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
}

.textWrapperFrame {
  color: #ffffff;
  font-family: "Pretendard", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.diaryFrame {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 50px 100px;
  min-width: 1200px;
}

.diaryFrame .diaryOverlap {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px #0000000d;
  flex: 1;
  aspect-ratio: 2 / 3;
  padding: calc(72 / 161 * 5%) calc(45 / 161 * 5%) calc(161 / 161 * 5%); /* 상단, 좌우, 하단 비율에 따라 패딩 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-width: 250px;
  max-width: 400px;
}

.diaryFrame .diaryImage {
  object-fit: cover;
  aspect-ratio: 4.5 / 6;
  width: 100%;
  height: auto;
}

.diaryFrame .diaryOverlapGroup {
  flex: 2;
}

.diaryFrame .diaryFrameWrapper {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  padding: 10px;
}

.diaryFrame .diaryDivWrapper {

}

.diaryFrame .diaryDiv {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.diaryFrame .diaryTextWrapper2 {
  color: #000000;
  font-family: "Pretendard", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
}

.diaryFrame .diaryTextWrapper3 {
  color: #222222;
  font-family: "Pretendard", Helvetica;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.diaryFrame .diaryElementWrapper {
}

.diaryFrame .diaryElement {
  color: #222222;
  font-family: "Pretendard", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  top: -1px;
}

.diaryFrame .diaryAddButtonInstance {
  box-shadow: 0px 20px 40px #0000001a !important;
  left: 874px !important;
  top: 0 !important;
}

.diaryContainer {
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}